#servico {
    background-color:#d1d1d1;
}
.container-servico {
    padding: 30px 20px;
    max-width: 1200px;
    margin: auto;
}

.titulo-servico {
    font-size: 20px;
}

.lista-servico {
    list-style: none;
    gap: 20px;
    justify-content: center;
}

.lista-servico li {
    cursor: pointer;
    border: 2px solid #000;
    border-bottom: none;
    padding: 5px 10px;

    font-size: 17px;
    font-weight: 500;
    color: #000;
}

.lista-servico li:last-child {
    border-bottom: 2px solid #000;
}

.lista-servico li:hover {
    background-color: #97C11F;
    color: #000;
}

.lista-servico li.active {
    background-color: #97C11F;
    color: #000;
}

.descricao-servicos {
    display: flex;
    justify-content: center;

    transition: height 0.3s ease-in-out;
    overflow: hidden;
    height: 40px;
}

.polimento-descricao {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.polimento-descricao div ol,
.polimento-descricao div ul {
    padding: revert;
}

.div-titulo {
    display:flex;
    gap:10px;
    align-items:center;
}
.div-titulo img{
    height:15px;
    transition: transform 0.3s;
}
.ativado {
    animation: rotateAnimation 0.3s forwards;
}
@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(45deg);
    }
}
.desativado {
    transition: transform 0.3s;
    animation: rotateAnimationNormal 0.3s forwards;
}
@keyframes rotateAnimationNormal {
    from {
        transform: rotate(40deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.descricao-total {
    overflow: hidden;
    max-height: 0; 
    transition: max-height 0.5s ease; 
}

.descricao-total.mostrar {
    display: block;  
}

.descricao-total p {
    padding: 10px;
}